Flask==2.3.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==3.2.0
langchain==0.0.180
llvmlite==0.38.0
openai==0.27.7
openapi-schema-pydantic==1.2.4
slack==0.0.2
slack-bolt==1.18.0
slack-sdk==3.21.3
slackclient==2.9.4
requests
bs4